body {
  background-image: url(../images/home/finalish.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

* {
  text-decoration: none;
  list-style-type: none;
}

/* FONTS */

p,
table td,
h3 {
  font-family: "Averia Serif Libre", cursive;
}

h2,
section a {
  font-family: "Fredericka the Great", cursive;
}

#nav_top ul li {
  font-family: "Julius Sans One", sans-serif;
}
/* FONTS END */

/* HEADER */

#logo {
  max-width: 100%;
}

#nav_top ul {
  display: flex;
  justify-content: center;
  padding: 0;
  background-color: azure;
}

#nav_top li {
  padding: 10px 20px;
}

#nav_top a {
  color: rgb(36, 0, 35);
}

#nav_top a:hover {
  color: pink;
}

/* HEADER END */

.container img {
  max-width: 100%;
}

.imgbox img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

table {
  margin: 0;
  margin: auto;
  padding: 15px;
  border: 3px solid azure;
}

table td,
section a,
section h2 {
  padding: 5px 10px;
}

.headline {
  font-size: 1.5rem;
  color: rgb(36, 0, 35);
  text-transform: uppercase;
  display: block;
  background-color: azure;
  font-weight: normal;
}

/* FOOTER */

footer {
  background-color: rgb(36, 0, 35);
  color: pink;
}

/* FOOTER END */

@media screen and (max-width: 600px) {
}

@media screen and (min-width: 601px) {
}
