body {
  background-image: url(../images/home/finalish.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
}

* {
  text-decoration: none;
  list-style-type: none;
}

/* FONTS */

p,
table td,
h3,
h1 {
  font-family: "Averia Serif Libre", cursive;
}

h2,
section a,
h4 {
  font-family: "Fredericka the Great", cursive;
}

#nav_top ul li {
  font-family: "Julius Sans One", sans-serif;
}
/* FONTS END */

/* HEADER */

#nav_top {
  display: none;
}

#logo {
  max-width: 100%;
}

#nav_top ul {
  display: flex;
  justify-content: center;
  padding: 0;
  background-color: azure;
}

#nav_top li {
  padding: 10px 20px;
}

#nav_top a {
  color: rgb(36, 0, 35);
}

#nav_top a:hover {
  color: pink;
}

/* HEADER END */

.container {
  padding: 15px 0;
}

.container img {
  max-width: 100%;
}

.container h3 {
  text-align: center;
  margin: 0;
  color: rgb(36, 0, 35);
  font-size: 1.3rem;
}

#achievements .container,
#interests .container {
  border: 10px solid azure;
}

.imgbox img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

table {
  margin: 0;
  margin: auto;
  border: 3px solid azure;
}

table td,
a,
h2,
pre,
h3,
footer,
h1,
p,
h4 {
  padding: 5px 10px;
}

.headline {
  font-size: 3.5rem;
  color: rgb(36, 0, 35);
  text-transform: uppercase;
  display: block;
  background-color: azure;
  font-weight: normal;
}

.breadcrumb p {
  margin: 2px;
}

.breadcrumb h4 {
  font-size: 1.3rem;
}

#breadcrumbs {
  background-image: repeating-linear-gradient(
    azure,
    azure,
    pink,
    pink,
    rgb(216, 83, 105),
    rgb(146, 33, 52),
    rgb(90, 11, 24),
    rgb(90, 11, 24)
  );
}

.text {
  background: -webkit-linear-gradient(black, black, black, azure, azure, azure);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* FOOTER */

footer {
  background-image: repeating-linear-gradient(
    rgb(90, 11, 24),
    rgb(27, 0, 5),
    black
  );
  color: pink;
  padding-top: 50px;
}

footer p {
  margin: 0;
}

/* FOOTER END */

@media screen and (max-width: 600px) {
}

@media screen and (min-width: 601px) {
}
