body {
  background-color: #000;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.headline {
  font-family: "Press Start 2P", Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 3px;
  text-align: center;
  color: aliceblue;
  margin-top: 50px;
  background-color: #000;
}

.header-sub {
  text-decoration: none;
  font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.5rem;
  margin-bottom: 50px;
}

.header-sub::before {
  content: none;
}

#moami_stay {
  float: right;
  margin-top: 30px;
  margin-right: 20px;
}

.button {
  display: inline-block;
  background-color: brown;
  padding: 10px;
  margin-top: 10px;
  margin-right: 100px;
  font-family: "Press Start 2P", Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  font-family: "Press Start 2P", Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 2px;
  color: aliceblue;
}

h3 {
  font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 50px;
  font-weight: bold;
}

.ricklink {
  background-color: rgba(29, 13, 62, 255);
  padding: 0px;
}

.troll-head {
  max-width: 100%;
  margin-bottom: 0;
}

.theapple a {
  display: inline-block;
  margin-left: 35%;
  color: rgba(29, 13, 62, 255);
}

a {
  text-decoration: none;
  color: aliceblue;
}

div {
  color: rgb(172, 172, 172);
  padding: 1px;
}

*,
.syntax {
  background-color: rgb(185, 185, 185);
  color: rgb(39, 39, 39);
  margin: 0;
  padding: 0;
}

.topics:nth-child(even) {
  background-color: rgb(59, 7, 53);
  padding: 50px;
}

.topics:nth-child(odd) {
  background-color: rgba(29, 13, 62, 255);
  padding: 50px;
}

a.pseudo-test:link {
  color: rgb(248, 250, 123);
}

a.pseudo-test:visited {
  color: brown;
}

a.pseudo-test:hover {
  color: azure;
}

a.pseudo-test:active {
  color: pink;
}

p.child-testing:first-child {
  color: red;
}

.child-testing p::first-letter {
  color: orange;
  font-size: 2em;
}

h2::before {
  content: url(https://www.geek.no/noroff/stuff/star.png);
  margin-right: 15px;
}

form {
  margin: 0 auto; /*center the form on the page (vertical)*/
  width: 400px; /*max-width makes the box dynamic size-wise, but it reaches a maximum size of 400pixels*/
  /*Form outline*/
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li + li {
  margin-top: 1em;
  /*colors all except the the list element. Don't worry about not understanding why.
  This concept works will other stuff that repeats as well; such as table: TR,TD*/
}

/*margin: 8px 0; (8px over/under and 0 left/right side
border-radius: 4px; (rounded corners*/

.default-size {
  color: bisque;
}
.pixel-size {
  font-size: 10px;
}

.em-size {
  font-size: 1em;
}

.rem-size {
  font-size: 1rem;
}

.italic-style {
  font-style: italic;
}

.oblique-style {
  font-style: oblique;
}

.bolder-weight {
  font-weight: bolder;
}

.bold-weight {
  font-weight: bold;
}

.normal-weight {
  font-weight: normal;
}

.light-weight {
  font-weight: 200;
}

.lighter-weight {
  font-weight: lighter;
}

.uppercase-trans {
  text-transform: uppercase;
}

.lowercase-trans {
  text-transform: lowercase;
}

.capitalize-trans {
  text-transform: capitalize;
}

.full-width-trans {
  text-transform: full-width;
}

.underline-deco {
  text-decoration: underline;
}

.overline-deco {
  text-decoration: overline;
}

.line-through-deco {
  text-decoration: line-through;
}

#FONTS {
  color: aquamarine;
  text-shadow: 7px 7px 7px rgb(0, 106, 114);
  text-shadow: 3px 3px 4px rgb(204, 1, 204);
}

.just-a-box-with-some-text {
  width: 200px;
  background-color: black;
}

.left-text {
  color: azure;
  text-align: left;
}

.centered-text {
  color: azure;
  text-align: center;
}

.right-text {
  color: azure;
  text-align: right;
}

.justified-text {
  color: azure;
  text-align: justify;
}

.lineheight-one {
  line-height: 2;
}

.letter-word-spacing {
  letter-spacing: 4px;
  word-spacing: 4px;
}
