body {
  background-color: #000;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

nav {
  position: fixed;
  margin-left: 5px;
}

nav li {
  margin-top: 40px;
}

nav li:last-child {
  margin-bottom: 40px;
}

nav li a:hover {
  color: rgb(255, 154, 243);
}

nav li a:checked {
  margin-left: 5px;
  font-size: 1rem;
}

nav h2::before {
  content: none;
}

.top_bot_nav:hover {
  color: rgb(255, 154, 243);
}

.headline {
  font-family: "Press Start 2P", Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 3px;
  text-align: center;
  color: aliceblue;
  margin-top: 50px;
  background-color: #000;
}

.header-sub {
  text-decoration: none;
  font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.5rem;
  margin-bottom: 50px;
}

.header-sub::before {
  content: none;
}

#moami_stay {
  float: right;
  margin-top: 30px;
  margin-right: 20px;
}

.button {
  display: inline-block;
  background-color: brown;
  padding: 10px;
  margin-top: 10px;
  margin-right: 100px;
  font-family: "Press Start 2P", Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  font-family: "Press Start 2P", Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 2px;
  color: aliceblue;
  line-height: 1.5;
}

h3 {
  font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 50px;
  font-weight: bold;
}

.ricklink {
  background-color: rgba(29, 13, 62, 255);
  padding: 0px;
}

.troll-head {
  max-width: 100%;
  margin-bottom: 0;
}

.theapple a {
  display: inline-block;
  margin-left: 17%;
  color: rgba(29, 13, 62, 255);
}

a {
  text-decoration: none;
  color: aliceblue;
}

div img {
  max-width: 100%;
}

div {
  margin-left: 200px;
  color: rgb(172, 172, 172);
  padding: 1px;
  max-width: 100%;
}

.syntax {
  background-color: rgb(185, 185, 185);
  color: rgb(39, 39, 39);
  margin: 0;
  padding-top: 10px;
}

.topics:nth-child(odd) {
  background-color: rgb(59, 7, 53);
  padding: 50px;
}

.topics:nth-child(even) {
  background-color: rgba(29, 13, 62, 255);
  padding: 50px;
}

a.pseudo-test:link {
  color: rgb(248, 250, 123);
}

a.pseudo-test:visited {
  color: brown;
}

a.pseudo-test:hover {
  color: azure;
}

a.pseudo-test:active {
  color: pink;
}

p.child-testing:first-child {
  color: red;
}

.child-testing p::first-letter {
  color: orange;
  font-size: 2em;
}

h2::before {
  content: url(https://www.geek.no/noroff/stuff/star.png);
  margin-right: 15px;
}

form {
  margin: 0 auto; /*center the form on the page (vertical)*/
  width: 400px; /*max-width makes the box dynamic size-wise, but it reaches a maximum size of 400pixels*/
  /*Form outline*/
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li + li {
  margin-top: 1em;
  /*colors all except the the list element. Don't worry about not understanding why.
  This concept works will other stuff that repeats as well; such as table: TR,TD*/
}

/*margin: 8px 0; (8px over/under and 0 left/right side
border-radius: 4px; (rounded corners*/

.default-size {
  color: bisque;
}
.pixel-size {
  font-size: 10px;
}

.em-size {
  font-size: 1em;
}

.rem-size {
  font-size: 1rem;
}

.italic-style {
  font-style: italic;
}

.oblique-style {
  font-style: oblique;
}

.bolder-weight {
  font-weight: bolder;
}

.bold-weight {
  font-weight: bold;
}

.normal-weight {
  font-weight: normal;
}

.light-weight {
  font-weight: 200;
}

.lighter-weight {
  font-weight: lighter;
}

.uppercase-trans {
  text-transform: uppercase;
}

.lowercase-trans {
  text-transform: lowercase;
}

.capitalize-trans {
  text-transform: capitalize;
}

.full-width-trans {
  text-transform: full-width;
}

.underline-deco {
  text-decoration: underline;
}

.overline-deco {
  text-decoration: overline;
}

.line-through-deco {
  text-decoration: line-through;
}

#FONTS {
  color: aquamarine;
  text-shadow: 7px 7px 7px rgb(0, 106, 114);
  text-shadow: 3px 3px 4px rgb(204, 1, 204);
}

.just-a-box-with-some-text {
  width: 200px;
  background-color: black;
}

.left-text {
  color: azure;
  text-align: left;
}

.centered-text {
  color: azure;
  text-align: center;
}

.right-text {
  color: azure;
  text-align: right;
}

.justified-text {
  color: azure;
  text-align: justify;
}

.lineheight-one {
  line-height: 2;
}

.letter-word-spacing {
  letter-spacing: 4px;
  word-spacing: 4px;
}

#imagea {
  max-width: 250px;
  height: auto;
  margin: 20px 30px 20px 0;
  display: inline-block;
}

#imageb {
  max-width: 400px;
  height: auto;
  border-radius: 50%;
  margin: 20px 30px 20px 0;
  display: inline-block;
}

#imagec {
  border: 1px solid #ddd;
  border-radius: 0px;
  padding: 5px;
  width: 170px;
  display: inline-block;
}

#imagea:hover {
  box-shadow: 0 0 10px 10px rgba(252, 130, 236, 0.5);
}

#imageb:hover {
  box-shadow: 0 0 10px 10px rgba(130, 183, 252, 0.5);
}

.polaroid {
  width: 20%;
  padding: 20px;
  background-color: rgb(22, 22, 22);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  display: inline-block;
}

figure img {
  width: 100%;
}

figcaption {
  text-align: center;
  padding: 10px;
}

.images-t {
  background-image: url("../images/icons/pixel-heart.png");
  background-size: 300px;
}

.images-t h2 {
  background-color: #000;
  display: inline-block;
  padding: 10px;
}

.clearx h3 {
  margin: 0px;
}

.clearx img {
  width: 100px;
  height: 150px;
  object-fit: cover;
  float: right;
}

.clear_problem {
  border: 1px solid white;
  clear: left;
  margin-bottom: 100px;
}

.clear_fix {
  border: 1px solid white;
}

.clear_fix::after {
  clear: both;
  content: "";
  display: table;
}

div .syntax {
  display: inline-block;
}

.relativex {
  border: 1px solid white;
}

.relativex .imrelative {
  position: relative;
  top: 20px;
  left: 20px;
}

.absolutex {
  border: 1px solid white;
  position: relative;
}

.absolutex .imabsolute {
  position: absolute;
  top: 20px;
  left: 20px;
}

.flexx {
  display: flex;
  width: 50%;
  margin: 0;
  background-color: darkslategray;
}

.box {
  flex: 1;
  margin: 0;
}

.box6 {
  flex: 5;
  margin: 0;
  background-color: rgb(101, 0, 145);
}

.flex-direction {
  background-color: darkslategray;
  display: flex;
  flex-direction: column-reverse;
  max-width: 50%;
  margin: 0;
}

.flex-wrap {
  display: flex;
  margin: 0;
}

.boxw {
  flex-wrap: nowrap;
  background-color: darkslategray;
  max-width: 50%;
  margin: 0;
}

.justifyx {
  display: flex;
  justify-content: center;
  margin: 0;
}

.boxj {
  margin: 0;
  background-color: darkslategray;
}

.gridx {
  display: grid;
  max-width: 50%;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr auto;
  grid-gap: 10px;
  background-color: rgb(101, 0, 145);
  margin: 0;
}

.boxg {
  background-color: darkslategray;
  margin: 0;
}

.grid_header {
  grid-area: grid-header;
  margin: 0;
  background-color: darkviolet;
}

.grid_nav {
  grid-area: grid-nav;
  margin: 0;
  background-color: rgb(196, 18, 113);
}

.grid_main {
  grid-area: grid-main;
  margin: 0;
  background-color: rgb(3, 114, 151);
}

.grid_footer {
  grid-area: grid-footer;
  margin: 0;
  background-color: forestgreen;
}

.grid_body {
  max-width: 50%;
  display: grid;
  background-color: gainsboro;
  margin: 0;
  grid-gap: 10px;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: minmax(100px, auto);
  grid-template-areas:
    "grid-header grid-header grid-header grid-header grid-header grid-nav grid-nav grid-nav  grid-nav"
    "grid-main grid-main grid-main grid-main grid-main grid-main grid-main grid-main grid-main"
    "grid-footer grid-footer grid-footer grid-footer grid-footer grid-footer grid-footer grid-footer grid-footer";
}
